<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kk.app.mine">

    <application>
        <activity
            android:name=".activity.MineActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kk.app.mine.demo.example.DemoListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kk.app.mine.demo.example.TangramActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.kk.app.mine.demo.example.tangram3.Tangram3Activity"
            android:screenOrientation="portrait" />

    </application>


</manifest>